html {
  box-sizing: border-box; 
}

*, *::before, *::after { 
  box-sizing: inherit;
 }

body {
  padding: 0;
  padding: 0 20px;
  margin: 0;
  font-family: 'Gilroy', Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  color: rgba(0, 0, 0, 1);
  text-transform: uppercase;
  background-color: rgba(255, 255, 255, 1);

}

a {
  text-decoration: none;
}
.yellow-string {
  width: 250px;
  height: 5px;
  background-color: yellow;
  position: absolute;
  z-index: -1;
  top: 10px;
  left: -50px;
}

.link-container {
  position: relative;
}

.header-container {
  display: flex;
  justify-content: center;
}

.main-header {
  position: relative;
  display: flex;
  justify-content: cente;
}

.header-logo {
  position: absolute;
  left: 60px;
  top: -18px;
}

.header-form {
  background-color: inherit;
}

.main-navigation {
  position: relative;
  display: block;
  width: 1300px;
  min-height: 300px;
  margin: 0;
  margin-top: 40px;
  padding: 0;
  background-color: rgba(247, 226, 150, 1);
  /*background-image: url("../img/nav-background.png");*/
  background-position: top center;
  background-repeat: no-repeat;
  list-style: none;
  display: flex;
  /*outline: 1px solid red;*/
  justify-content: space-between;
}

.user-navigation {
  text-transform: none;
  list-style: none;
  font-family: 'OpenSans', Arial, sans-serif;
  font-weight: 300;
  font-size: 15px;
  line-height: 30px;
  display: flex;
  justify-content: space-around;
  /*outline: 1px solid green;*/
  margin: 0;
  padding: 0;
}

.interactive-navigation {
  margin-left: 60px;
  margin-top: 50px;
  width: 240px;
  height: 85px;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}


.user-site-container {
  margin-right: 60px;
  margin-top: 50px;
  min-width: 500px;
  height: 85px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /*outline: 5px solid violet;*/
  box-sizing: border-box;
}


.search-form {
  font-family: 'OpenSans', Arial, sans-serif;
  font-weight: 300;
  font-size: 15px;
  line-height: 30px;
}

.site-button {
  color:  rgba(0, 0, 0, 1);
  text-transform: uppercase;
  font-family: 'Gilroy', Arial, sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
}

.footer-button {
  font-size: 16px;
}

.site-navigation {
  list-style: none;
  font-family: 'Gilroy', Arial, sans-serif;
  font-weight: 900;
  font-size: 18px;
  line-height: 24px;
  display: flex;
  justify-content: space-between;
  margin: 0;
  margin-top: 5px;
  padding: 0;
}

.site-navigation a,
.user-navigation a {
  color:  rgba(0, 0, 0, 1);
}

.site-navigation a:hover,
.site-navigation a:focus,
.interactive-navigation a:focus,
.interactive-navigation a:hover,
.user-navigation a:focus,
.user-navigation a:hover   {
  color: rgba(99, 90, 60, 1);
}
.site-navigation a:active {
  color: rgba(105, 105, 105, 1);
}

.galery-container {
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

.galery dt {
  font-family: 'Gilroy', Arial, sans-serif;
  font-weight: 300;
  font-size: 36px;
  line-height: 48px;
}

.galery dl {
  font-family: 'OpenSans', Arial, sans-serif;
  font-weight: 300;
  font-size: 13px;
  line-height: 20px;
}

.slogan {
  font-weight: 900;
  line-height: 56px;
  font-size: 47px;
  text-transform: none;
  /*outline: 1px solid brown;*/
}

.slide {
  position: relative;
  display: flex;
  /*outline: 1px solid green;*/
  margin: -100px;
  z-index: 500;
}

.slide a {
  color:  rgba(0, 0, 0, 1);
}

.slide p {
  margin: 0;
}
.slide dd {
  margin-left: 0;
}

.slide-item {
  width: 520px;
  /*outline: 1px solid blue;*/
}
.text {
  padding-top: 70px;
  padding-bottom: 0;
}

.slide-description {
  font-family: 'OpenSans', Arial, sans-serif;
  font-weight: 300;
  line-height: 30px;
  font-size: 15px;
  color: rgba(70, 70, 70, 1);
  /*outline: 1px solid blue;*/
}
.slider-navigation {
  display: flex;
  justify-content: space-between;
}

.galery-list {
  display: flex;
  justify-content: space-between;
  /*outline: 1px solid yellow;*/
}

.dots-container {
  display: flex; 
  justify-content: space-between;
  min-width: 100px;
}

.dots-navigators {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 3px solid gray;
}

.brands {
  display: flex;
}

.categories a {
  /*outline: 1px solid green;*/
  color: rgba(0, 0, 0, 1);
  font-family: 'Gilroy', Arial, sans-serif;
  font-weight: 900;
  font-size: 16px;
  line-height: 24px;
  margin-top: 30px;
}

.categories {
  width: 1300px;
  /*outline: 1px solid magenta;*/
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  margin-top: 200px;
}

.category-item {
  display: flex;
  /*outline: 1px solid red;*/
  flex-direction: column;
}

.category-svg {
  background-color: rgba(247, 226, 150, 1);
  width: 130px;
  height: 150px;
}

.services-container {
  position: relative;
  z-index: -10;
  margin-top: 180px;
  background-color: rgba(229, 229, 229, 1);
  background-image: url("../img/services-background.png");
  background-position: center;
  background-repeat: no-repeat;
  /*outline: 1px solid yellow;*/
}

.services-container .link-container {
  margin: 10px;
}

.description-container {
  min-height: 288px;
  padding-top: -100;
  /*outline: 1px solid red;*/
}

.services {
  text-transform: none;
  font-family: 'OpenSans', 'Arial', sans-serif;
  font-weight: 300;
  font-size: 15px;
  line-height: 30px;
  display: flex;
  justify-content: space-evenly;
}
.services a {
  font-family: 'Gilroy', 'Arial', sans-serif;
  font-weight: 900;
  font-size: 24px;
  line-height:36px;
  /*outline: 1px solid blue;*/
}

.services h3 {
  text-transform: none;
  font-family: 'Gilroy', 'Arial', sans-serif;
  font-weight: 900;
  font-size: 47px;
  line-height:48px;
  padding: 0;
  margin: 0;
}

.service-buttons button {
  text-transform: uppercase;
  font-family: 'Gilroy', Arial, sans-serif;
  font-weight: 900;
  font-size: 18px;
  line-height: 24px;
}
.service-buttons {
  padding: 0;
  min-width: 280px;
  /*outline: 1px solid magenta;*/
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  /*outline: 1px solid magenta;*/
}

.service-item {
  margin-top: -20px;
  /*outline: 1px solid red;*/
}

/*.delivery-svg {
  /*outline: 1px solid magenta;
}*/

/*.delivery-button {
  display: block;
  margin-bottom: 33px;
}*/

.brands {
  width: 1000px;
  margin: 0 auto;
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
}

.info-container {
  width: 1300px;
  display: flex;
  margin: 0 auto;
  outline: 1px solid violet;
}

.info {
  text-transform: none;
}
.info p {
  color: rgba(70, 70, 70, 1);
}

.info a {
  color: rgba(0, 0, 0, 1);
}

.info h2 {
  color: rgba(0, 0, 0, 1);
  font-weight: 900;
  line-height: 48px;
  font-size: 47px;
}

.info-aboutus {
  display: flex;
  flex-direction: column;
}

.info-contacts {
  display: flex;
  flex-direction: column;
}

.transport-companies li {
  list-style: none;
  color: rgba(0, 0, 0, 1);
}

footer li {
  list-style: none;
}

.footer-container {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  padding: 0;
  width: 1300px;
  font-family: 'OpenSans', Arial, sans-serif;
  font-weight: 300;
  font-size: 13px;
  line-height: 30px;
  background-image: url("../img/footer-background.png");
  color: rgba(255, 255, 255, 1);
  display: flex;
}

.footer-wrapper {
  margin: 0;
  padding: 0;
  width: 1300px;
  display: flex;
  justify-content: space-between;
  /*outline: 2px solid firebrick;*/
}

.footer-navigation {
  color: rgba(255, 255, 255, 1);
  font-family: 'Gilroy', Arial, sans-serif;
  font-weight: 900;
  font-size: 18px;
  line-height: 24px;
  display: flex;
  justify-content: space-between;
}

.footer-links {
  display: flex;
  justify-content: space-around;
  padding: 0 100px;
}

.footer-user {
  display: flex;
  justify-content: space-between;
}

.footer-navigation a,
.footer-user a,
.footer-links a {
  color: rgba(255, 255, 255, 1);
}
.footer-phone {
  display: flex;
  justify-content: flex-end;;
}


.footer-logo {
  display: flex;
  justify-content: flex-end;
}

.logo-address-column {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  padding-top: 30px;
  padding-left: 30px;

}

.yellow-strip {
  display: block;
  width: 100px;
  height: 10px;
  background-color: rgba(255, 198, 0, 1);
}

.nav-links-column {
  min-width: 400px;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  padding-top: 80px;
}

.user-copyright-column {
  min-width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0;
  margin-right: 40px;
  padding: 0;
}

.popup {
  display: none;
}

/*Индивидуальные стили каталога*/
.catalog-navigation {
  list-style: none;
  font-family: 'OpenSans', Arial, sans-serif;
  font-weight: 300;
  font-size: 15px;
  line-height: 30px;
  margin-bottom: 50px;
}

.catalog-navigation {
  display: flex;
  justify-content: space-between;
  padding: 0 30px;
  /*outline: 1px  solid yellow;*/
  background-color: rgba(235, 235, 235, 1);

}
.page-list {
  margin: 0;
  padding: 0;
  display: flex;
  
}

.filters-product-container {
  display: flex;
}

.filters {
  background-color: rgba(239, 239, 239, 1);
  margin-right: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.filters-button {
  width: 200px;
  margin: auto;
  margin-top: 30px;
}

.catalog-list {
  padding: 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap; 
  width: 760px;
  /*outline: 1px  solid darkblue;*/
}

.main-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  width: 468px;
  padding: 0 70px;
  /*outline: 1px  solid green;*/
}

.properties {
  text-transform: none;
  list-style: none;
  font-family: 'OpenSans', Arial, sans-serif;
  font-weight: 300;
  font-size: 15px;
  line-height: 30px;
}

.catalog-item {
  text-transform: none;
  list-style: none;
  font-family: 'OpenSans', Arial, sans-serif;
  font-weight: 300;
  font-size: 15px;
  line-height: 30px;
  display: flex;
  flex-direction: column;
}

.catalog-item a {
  color: rgba(0, 0, 0, 1);
  font-family: 'Gilroy', Arial, sans-serif;
  font-weight: 900;
  font-size: 18px;
  line-height: 24px;
}

.page-list a{
  color: rgba(0, 0, 0, 1);
  font-family: 'Gilroy', Arial, sans-serif;
  font-weight: 900;
  font-size: 18px;
  line-height: 24px;
}

.page-list li {
  list-style: none;
}
.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}


@font-face {
  font-family: 'Gilroy';
  font-style: thin;
  font-weight: 100;
  font-display: swap;
  src: local('Gilroylight'),
    url('../fonts/gilroyextrabold.woff2') format('woff2'),
    url('../fonts/gilroyextrabold.woff') format('woff');
}

@font-face {
  font-family: 'Gilroy';
  font-style: ultra light;
  font-weight: 200;
  font-display: swap;
  src: local('Gilroylight'),
    url('../fonts/gilroyextrabold.woff2') format('woff2'),
    url('../fonts/gilroyextrabold.woff') format('woff');
}

@font-face {
  font-family: 'Gilroy';
  font-style: light;
  font-weight: 300;
  font-display: swap;
  src: local('Gilroylight'),
    url('../fonts/gilroyextrabold.woff2') format('woff2'),
    url('../fonts/gilroyextrabold.woff') format('woff');
}

@font-face {
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Gilroylight'),
    url('../fonts/gilroyextrabold.woff2') format('woff2'),
    url('../fonts/gilroyextrabold.woff') format('woff');
}

@font-face {
  font-family: 'Gilroy';
  font-style: medium;
  font-weight: 500;
  font-display: swap;
  src: local('Gilroylight'),
    url('../fonts/gilroyextrabold.woff2') format('woff2'),
    url('../fonts/gilroyextrabold.woff') format('woff');
}

@font-face {
  font-family: 'Gilroy';
  font-style: semi bold;
  font-weight: 600;
  font-display: swap;
  src: local('Gilroylight'),
    url('../fonts/gilroyextrabold.woff2') format('woff2'),
    url('../fonts/gilroyextrabold.woff') format('woff');
}

@font-face {
  font-family: 'Gilroy';
  font-style: bold;
  font-weight: 700;
  font-display: swap;
  src: local('Gilroylight'),
    url('../fonts/gilroyextrabold.woff2') format('woff2'),
    url('../fonts/gilroyextrabold.woff') format('woff');
}

@font-face {
  font-family: 'Gilroy';
  font-style: extra bold;
  font-weight: 800;
  font-display: swap;
  src: local('Gilroylight'),
    url('../fonts/gilroyextrabold.woff2') format('woff2'),
    url('../fonts/gilroyextrabold.woff') format('woff');
}

@font-face {
  font-family: 'Gilroy';
  font-style: black;
  font-weight: 900;
  font-display: swap;
  src: local('Gilroylight'),
    url('../fonts/gilroyextrabold.woff2') format('woff2'),
    url('../fonts/gilroyextrabold.woff') format('woff');
}


@font-face {
  font-family: 'OpenSans';
  font-style: thin;
  font-weight: 100;
  font-display: swap;
  src: local('OpenSansLight'),
       url('../fonts/opensanslight.woff2') format('woff2'),
       url('../fonts/opensans.woff') format('woff2');
}

@font-face {
  font-family: 'OpenSans';
  font-style: extra light;
  font-weight: 200;
  font-display: swap;
  src: local('OpenSansLight'),
       url('../fonts/opensanslight.woff2') format('woff2'),
       url('../fonts/opensans.woff') format('woff2');
}

@font-face {
  font-family: 'OpenSans';
  font-style: light;
  font-weight: 300;
  font-display: swap;
  src: local('OpenSansLight'),
       url('../fonts/opensanslight.woff2') format('woff2'),
       url('../fonts/opensans.woff') format('woff2');
}

@font-face {
  font-family: 'OpenSans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('OpenSansLight'),
       url('../fonts/opensanslight.woff2') format('woff2'),
       url('../fonts/opensans.woff') format('woff2');
}

@font-face {
  font-family: 'OpenSans';
  font-style: medium;
  font-weight: 500;
  font-display: swap;
  src: local('OpenSansLight'),
       url('../fonts/opensanslight.woff2') format('woff2'),
       url('../fonts/opensans.woff') format('woff2');
}

@font-face {
  font-family: 'OpenSans';
  font-style: semi bold;
  font-weight: 600;
  font-display: swap;
  src: local('OpenSansLight'),
       url('../fonts/opensanslight.woff2') format('woff2'),
       url('../fonts/opensans.woff') format('woff2');
}

@font-face {
  font-family: 'OpenSans';
  font-style: bold;
  font-weight: 700;
  font-display: swap;
  src: local('OpenSansLight'),
       url('../fonts/opensanslight.woff2') format('woff2'),
       url('../fonts/opensans.woff') format('woff2');
}

@font-face {
  font-family: 'OpenSans';
  font-style: extra bold;
  font-weight: 800;
  font-display: swap;
  src: local('OpenSansLight'),
       url('../fonts/opensanslight.woff2') format('woff2'),
       url('../fonts/opensans.woff') format('woff2');
}

@font-face {
  font-family: 'OpenSans';
  font-style: black;
  font-weight: 900;
  font-display: swap;
  src: local('OpenSansLight'),
       url('../fonts/opensanslight.woff2') format('woff2'),
       url('../fonts/opensans.woff') format('woff2');
}